
@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
	<h2>Kedai Runcit Zaman Now</h2>
	<h6>This simple web project is for me to learn .Net core and other technologies/tools</h6>
</div>

<div>

</div>